<launch>
    
    <node pkg="image_publisher" type="image_publisher" name="image_publisher"
        args="$(find yolov7_ros)/street.jpg">
        <param name="flip_horizontal" value="false" />
        <param name="flip_vertical" value="false" />
        <param name="frame_id" value="my_camera" />
        <param name="publish_rate" value="1" />
    </node>

</launch>